{% if current_user.is_admin %}

{% extends 'base.html' %}

{% block content %}
    <h2>Cadastrar Condomínio</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label(class="form-control-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.rb_host_ip.label }}
           {{ form.rb_host_ip(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}

{% endif %}
